/* the whole body of web page */
body{
	text-align: center;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Links */
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

/* Paragraph */
p {
    font-size: 14px;
    line-height: 1.75;
}


/* Navigation bar */
.navbar-default{
	background-color: white !important;
}

.navbar-default .navbar-brand{
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	width: 120px;
	text-align: left;
}

.navbar-default .navbar-brand img{
	width: 30%;
}

/* Header */
header{
	background-attachment: scroll;
	color: #000;
	background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro{
	padding-top: 200px;
	padding-bottom: 200px;
}

header .intro .intro-slogan{
	margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

header .intro .intro-text{
	margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

/* Startup section in homepage */
section#startup{
}

/* Business section in homepage */
section#business{
}

/* Background picture sections */
section#pic1 h1{
	padding-top: 200px;
	padding-bottom: 200px;
}

section#pic2{
	padding-top: 200px;
	padding-bottom: 200px;
}

/* Footer */
footer{
}

footer ul.social-buttons {
    margin-bottom: 0;
}

footer ul.social-buttons li a{
	display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

footer ul.social-buttons li a:hover,
footer ul.social-buttons li a:focus,
footer ul.social-buttons li a:active {
    background-color: #fed136;
}