<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DeNovo | Maximize your Venture</title>		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Kaushan+Script">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
		<link rel="stylesheet" href="{% static css custom.css %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>		
		<!-- Navigation Bar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">
						DeNovo
						<img src="{% static images DeNovoArrow.jpg %}">
					</a>
				</div>
				<!-- Content for toggling -->
				<div class="collapse navbar-collapse" id="navigation-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/how-it-works">How It Works</a>
						</li>
						<li>
							<a href="/startup-display">Startups</a>
						</li>
						<li>
							<a href="/professional-display">Professionals</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/login">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- Header -->
		<header>
			<div class="container">
				<div class="intro">
					<h2 class="intro-slogan">MAXIMIZE YOUR VENTURE</h2>
					<p class="intro-text">For early stage companies cash is difficult to come by, and in the business world cash is life. Here at DeNovo we believe every startup should get the opportunity to succeed. Our platform brings together contracted service providers willing to work for your equity. Sign up to connect with the greatest minds in marketing, web development, law and many other areas (we even have a student section for when you require less skill-based tasks). Our talent is revolutionizing the startup world by working for your equity. Prepare for your launch date by registering for our beta below!</p>
					<a href="#" class="btn btn-info btn-lg">LEARN MORE</a>
				</div>
			</div>
		</header>
		
		<!-- Startup section -->
		<section id="startup">
			<div class="jumbotron">
				<div class="container-fluid">
					<h2>Startups</h2>
					<p><b>Why DeNovo?</b></p>
					<p>Whether you’re launch date is next week or next year our network of professionals is ready to help you. The service providers on our platform fill the specialized skills you and your team may be missing. Consider one of DeNovo’s professionals for your next product and save your hard-earned cash. We understand that when you found a startup your equity is your life. We make the exchange process as smooth and equitable as possible by providing recommendations, legal framework, and escrow services.</p>
					<p>We hope you’ll consider accessing our platform for your next project</p>	
					<a href="#" class="btn btn-info btn-lg">LEARN MORE</a>
				</div>
			</div>
		</section>
		
		<!-- Background Picture -->
		<section id="pic1">
			<h1>Some background picture goes here</h1>
		</section>
		
		<!-- Professional Section -->
		<section id="professional">
			<div class="jumbotron">
				<div class="container-fluid">
					<h2>Professionals</h2>
					<p><b>Why DeNovo?</b></p>
					<p><b>Freelancers:</b></p>
					<p>We know that work is not always steady. Put your downtime to use by taking on a project for one of DeNovo’s startups. We know that you will find startup work rewarding, because your product will have a direct impact on your return. Perform well, and your equity could be worth thousands! By working with our companies you will not only build a reputation, but you could become to the go-to service provider for the next Facebook!</p>
					<p><b>Firms:</b></p>
					<p>Whether you are based out of Silicon Valley or the Midwest, we know that you are always on the lookout for new clients. Taking a job posted by one of our startups will mean an early business-relationship that will pay off down the line. Our inside-access to startups means a steady source of promising and loyal clients, many of which may yield massive business opportunities post-launch.</p>	
					<a href="#" class="btn btn-info btn-lg">LEARN MORE</a>
				</div>
			</div>
		</section>
		<!-- Background Picture -->
		<section id="pic2">
			<h1>Some background picture goes here</h1>
		</section>
		<!-- Footer -->
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright &copy; 2014 DeNovo </p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<p> support@de-novo.org</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>